.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  pointer-events: none;
  width: 150rem;
  opacity: 0.2;
  height: auto;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 1.25rem;
  min-height: 100vh;
  color: white;
  padding: 0 1.25rem;
  position: relative;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoadingComponent {
  color: white;
}
